@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  font-family: var(--font-family-main);
  box-sizing: inherit;
  color: var(--color-black);
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

picture {
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus-visible {
  outline: none;
}

@keyframes pulseDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
